<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ConsensUS </title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>
  <body>
  <h1>Login</h1>
  <p> 

   <form action="/login" method="POST">
  Login:<br>
  <input type="text" name="login" value="Emperor of Mexico">
  <br>
  Password:<br>
  <input type="password" name="pass" value="test">
  <br><br>
  <input type="submit" value="Login">
</form> 
  </p>
   
    <!-- page content -->
  </body>
</html>
